body {
    display: flex;
    background-color: darkgray;
    background-image: url(./backgroundImageWeather.png);
    background-repeat: no-repeat;
    background-size: cover;
}


html, body {
  height: 100%;
  margin: 10;
  padding: 10;
}



.row {
  flex: 1;
}

.banner {
    background-color: rgb(137, 172, 248);
    align-items: center;
    height: 80px;
    text-align: center;
    opacity: 0.8;
    
    justify-content: center
   
  }
.search {
    display: flex;
  
    justify-content: flex-start;
  }

  .searchContainer {
    justify-content: flex-start;
  }
  
  h1 {
    justify-content: space-around;
  }

  .searchBar {
justify-content: flex-start;
background-color: honeydew;
align-items: flex-start;
  }

  .currentBox {

    background-color: rgb(167, 167, 207);
    width: auto;
    height:auto ;
    text-align: center;
    text-decoration: none;

  }

  .fiveDay {
    background-color: chartreuse;
    text-align: center;
    text-justify: auto;
    opacity: 0.8;

  }

  .past{
    background-color: darkorchid;
    opacity: 0.8;

  }

  .twopart {
    background-color: antiquewhite;
  }

  ul {
    list-style-type:none;
  }

  @media only screen and (max-width: 200px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width: 400px) {
    body {
      background-color: rgb(111, 119, 122);
    }
  }
  @media only screen and (max-width: 900px) {
    body {
      background-color: rgb(8, 76, 99);
    }
  }